@import 'bootstrap';

h1{
  font-family:'Courier New', Courier, monospace;
}

body {
  font-family: 'Courier New';
  font-size: 1.5rem;
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: auto;
  align-items: baseline;
}

button[type="submit"] {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}

header{
  display:flex;
}

//classes:
//START OF HOME COMPONENT!!

.display-5{
  margin-top: -10px;
  font-size: 12px;
  font-family: sans-serif;
}


.sticky{
  width: 100%;
  position: fixed ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.logoBMSdiv{
  display: flex;
  margin: 0;
  padding: 0;
}

.logoBMSHome{
  width: 200px;
}

.logoBMS{
  layout:left;
  width: 50px;
}

.kontenerHome{
  padding-top: 3%;
}

.subtext{
  font-size:10px;
  margin-left: 10px;
}

.bottom0{
  bottom:0;
}

.center {
  text-align: center;
  align-self: center;
}

//END OF HOME COMPONENT!!
//START OF MEETING-CREATOR COMPONENT!!

//for centering whole content
.centered-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.input-name{
  width:40%;
  align-self: center;

}

.turn-off{
  display: none;
}

.div-for-buttons{
  display: flex;
}

.button-prev{
  margin-right: auto;
}

.button-next{
  margin-left:auto;
}

.hour-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
}

.hour-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.hour-slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}
.activeOnMeetingCreator{
  display:flex;
}

.inactive{
  display: none;
}

.sliders-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto; 
}

.font-size-alert{
  font-size: 10px;
}

.marginBottom5{
  margin-bottom: 5%;
}

.marginTop5{
  margin-top:5%;
}

.range-container {
  width: 80%;
  margin: auto;
  text-align: center;
}