@import 'bootstrap';

h1{
  font-family:'Courier New', Courier, monospace;
}

body {
  font-family: 'Courier New';
  font-size: 1.5rem;
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: auto;
  align-items: baseline;
}

button[type="submit"] {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}

header{
  display:flex;
}

//classes:
//START OF HOME COMPONENT!!

.display-5{
  margin-top: -10px;
  font-size: 12px;
  font-family: sans-serif;
}


.sticky{
  width: 100%;
  position: fixed ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.logoBMSdiv{
  display: flex;
  margin: 0;
  padding: 0;
}

.logoBMSHome{
  width: 200px;
}

.logoBMS{
  layout:left;
  width: 50px;
}

.kontenerHome{
  padding-top: 3%;
}

.subtext{
  font-size:10px;
  margin-left: 10px;
}

.bottom0{
  bottom:0;
}

.center {
  text-align: center;
  align-self: center;
}

//END OF HOME COMPONENT!!
//START OF MEETING-CREATOR COMPONENT!!

//for centering whole content
.centered-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.input-name{
  width:40%;
  align-self: center;

}

.turn-off{
  display: none;
}

.div-for-buttons{
  display: flex;
}

.button-prev{
  margin-right: auto;
}

.button-next{
  margin-left:auto;
}

input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  pointer-events: all;
  width:24px;
  height:24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb{
  -webkit-appearance: none;
  pointer-events: all;
  width:24px;
  height:24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;   
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active{
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type=range]{
  margin-right: 100px;
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 50%;
  position: absolute;
  background-color: #c6c6c6;
  pointer-events: none;
}

.activeOnMeetingCreator{
  display:flex;
}

.inactive{
  display: none;
}

#fromSlider{
  height:0;
  z-index:1;
}

.sliders-control{
  align-content: center;
  align-items: center;
  align-self: center;
  min-height: 50px;
  margin: auto;
}

.range-container{   
  width: 80%;
  align-content: center;
  align-items: center;
  align-self: center;
  margin: auto;
}